# Dependencies
node_modules/

# Next.js build
.next/
out/

# Environment files (necommitojam)
.env
.env*
!.env.example

# Logi
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Sistēmas/editoru sīkumi
.DS_Store
Thumbs.db
.vscode/
.idea/
